@import "util/util";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,600;1,400;1,600&family=Roboto:ital@0;1&display=swap');
$foundation-palette: (
  primary: #3C5876,
  secondary: #743b20,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);

$dark-gray: #20141b;

$body-background: #f8f7f2;
$body-font-family: 'Roboto', sans-serif;